@media  (min-width: 768px) {

    main{
        .contenedor-menu{
            width: 704px;
            margin: 0 auto;
            margin-top: 1rem;
            justify-content: center;
            border-radius: 5px;
            section{

                div.contenedor-menu1{
        
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 250px);
                }
        
                div.contenedor-menu3{
        
                    @extend .contenedor-menu1
        
                }
        
            }
        }   
    }
            
    main{

        section{
            div.contenedor-cajas-horarios{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
        
            }
        }
    }

    main{
        section{
            div.contenedor-acerca-de{
                width: 736px;
                margin: 0 auto;

            }
        }
    }


}
@media screen and (min-width: 540px) {

    div.contenedor-cartas{
        width: 532px;
        margin: 3rem auto;
    
    } 
    
    div.titulo-main-index{
        
            width: 521px;
            margin: 3rem auto;
      
    }
    
    }

