main{

    .titulo-main-index {
        filter: drop-shadow(1px 1px 10px #edececab);
        border-radius: 5px;
        background-color: #a1a1a13a;


        h2 {
            text-align: center;
            padding: 1rem;
            margin: 3rem auto;
            color: white;
            

        }

    }

}